.custom-form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.custom-form-group input {
  padding: 0.875rem 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #333;
  outline: none;
  transition: 0.3s ease-in-out;
  font-size: 0.875rem;
}
.custom-form-group input:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-file-drop-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 4px;
  border: 1px dashed rgba(52, 49, 76, 0.3);
  height: 57px;
  cursor: grab;
}

.custom-file-drop-area:hover{
  border-color: rgb(52, 49, 76);
}
.custom-file-drop-area label {
  font-size: 14px;
  padding-top: 8.5px;
  padding-left: 14px;
  color: rgba(52, 49, 76, 0.54);
}
.custom-file-drop-area input {
  display: none;
}
.custom-file-drop-area.highlight {
  border-color: #1976d2;
}
.custom-file-drop-area.highlight label {
  color: #1976d2;
}
.custom-file-preview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  gap: 10px;
}
.custom-file-preview.files{
  margin-top: 1rem;
}
.custom-file-preview .prev-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.custom-file-preview .prev-img span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  color: #333;
  font-size: 0.87rem;
  padding-bottom: 0.1rem;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  display: none;
}
.custom-file-preview .prev-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.custom-file-preview .prev-img:hover span {
  display: flex;
}
.custom-file-preview .prev-img:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}